@charset "UTF-8";
    .layer-popup {width: 422px; position: fixed; top:250px; left:calc(50% - 334px); z-index:2000;}
    .layer-popup img {display: block;}
    .layer-popup p {background-color: rgb(129, 129, 129); color: #eee; margin: 0; padding: 8px; font-size: 13px;} 
    .layer-popup p input {vertical-align: middle;}
    .layer-popup p a {color: #eee; text-decoration: none; float: right;}