<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CategoryMapper">
<resultMap type="vo.Category" id="category">
	<id column="cno" property="cno"/>
	<result column="cname" property="cname"/>
	<result column="main_category" property="mainCategory"/>
	<result column="sub_category" property="subCategory"/>
	<result column="parent_cno" property="parentCno"/>
	<result column="sort" property="sort"/>
	<result column="isuse" property="isUse"/>
	<result column="create_date" property="createDate"/>
	<result column="update_date" property="updateDate"/>
	<result column="icon" property="icon"/>
	<result column="pathname" property="pathName"/>
</resultMap>
	<select id="selectMain" resultType="vo.Category">
		select * from tbl_category tc WHERE sub_category = 'main' AND isuse = 'y'
	</select>

	<select id="selectSub" resultType="vo.Category">
		select * from tbl_category tc WHERE sub_category = 'sub' AND isuse = 'y'
	</select>
</mapper>