<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.EmailMapper">
 <select id="selectFindByEmail" resultType="vo.UserEmail">
  SELECT  *
	FROM tbl_user_email tue 
	WHERE email = #{email} 
	  and att = #{att}
  </select>
 
  <select id="selectFindBy" resultType="vo.User">
  SELECT  *
	FROM tbl_user tue 
	WHERE id = #{email} 
  </select>
   
  <insert id="insert">
  INSERT  INTO tbl_user_email (email,att)
  values (#{email},#{att})
  </insert>
</mapper>