<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ManageMapper">

<resultMap type="vo.User" id="user">
	<id column="id" property="id"/>
	<result column="pw" property="pw"/>
	<result column="nick_name" property="nickName"/>
	<result column="create_date" property="createDate"/>
</resultMap>

<resultMap type="vo.UserDetail" id="userDetail">
	<id column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="gender" property="gender"/>
	<result column="addr" property="addr"/>
	<result column="detail_addr" property="detailAddr"/>
	<result column="self_intro" property="selfIntro"/>
	<result column="grade" property="grade"/>
	<result column="mtno" property="mtno"/>
	<result column="last_login" property="lastLogin"/>
	<result column="create_date" property="createDate"/>
	<result column="update_date" property="updateDate"/>
</resultMap>

<resultMap type="vo.Post" id="post">
	<id column="pno" property="pno"/>
	<result column="title" property="title"/>
	<result column="user_id" property="userId"/>
	<result column="content" property="content"/>
	<result column="view_cnt" property="viewCnt"/>
	<result column="create_date" property="createDate"/>
	<result column="update_date" property="updateDate"/>
	<result column="cno" property="cno"/>
</resultMap>

  <select id="selectAllUser"  resultMap="user">
	select * 
	from tbl_user 
	where 1
	<if test="type != null">
	    <trim prefix="and (" suffix=")" prefixOverrides="or">
	    	<foreach collection="typeArr" item="t">
	    		<if test='T == "i"'>
		    		or id like concat('%', #{keyword},'%')
	    		</if>
	    	</foreach>
	    </trim> 
    </if>
    order by create_date desc
    limit #{amount} offset #{offset}
  </select>
  
  
  
  <select id="getCount" resultType="int">
    select count(*) as cnt from tbl_user
  </select>
  
  <select id="selectAllUserDetail" resultMap="userDetail">
	select * from tbl_user_detail where id = #{id}
  </select>
  
   <select id="selectByUser" resultMap="user">
	select * from tbl_user where id = #{id}
 	 </select>
  
  <update id="updateByUserDetail">
	  update tbl_user_detail SET
	  	name = #{name},
	  	gender = #{gender},
	  	addr = #{addr},
	  	detail_addr = #{detailAddr},
	  	grade = #{grade},
	  	update_date = now()
	  	where id = #{id}
  </update>
  
  <update id="updateByUser">
	   update tbl_user SET
	    pw = #{pw},
	    nick_name = #{nickName}
	    where id = #{id}
  </update>
  

  
  <select id="selectAllTaboo" resultType="vo.Taboo">
	select * from tbl_taboo
  </select>
  <select id="selectAllMenu" resultType="vo.Category">
	select * from tbl_category where main_category = 'menu' and sub_category = 'sub'
  </select>
  
  
  <insert id="insert" >
	  INSERT  INTO tbl_category (cname, main_category, sub_category, sort, isuse) values (#{cname},'menu','sub',0,'n')
	  <selectKey order="AFTER" keyProperty="cno" resultType="int">
		select max(cno) from tbl_category
	  </selectKey>
  </insert>
  <update id="update">
	  update tbl_category set 
	  	sort = #{sort},
	  	isuse = #{isUse},
	  	parent_cno = #{parentCno}
	  	where cno = #{cno}
  </update>
  <delete id="delete">
  	delete from tbl_category where cno = #{cno} 
  </delete>
  
  
  <insert id="insertTaboo" >
	  INSERT  INTO tbl_taboo (key_word, user_id, isuse) values (#{keyWord},'test@naver.com', 1)
  </insert>
  <update id="updateTaboo">
		update tbl_taboo set 
	  	isuse = #{isUse},
	  	update_date = now()
	  	where key_word = #{keyWord}
  </update>
  <delete id="deleteTaboo">
  	delete from tbl_taboo where key_word = #{keyWord} 
  </delete>
  
  
  <select id="selectAllAnnPost" resultType="vo.Post">
	select * from tbl_post where cno = 1
  </select>
  
  
  <update id="updateAnnPost">
		update tbl_post set 
	  	
	  	isuse = #{isUse},
	  	update_date = now()
	  	
	  	where cno = 1
	  	and pno = #{pno}
  </update>
  
    <insert id="insertAnnPost" >
  		insert into tbl_post(title, user_id, content, cno) 
		values(#{title}, #{userId}, #{content}, 1)
  	</insert>
  
	<update id="deletee">
		delete from tbl_post where pno = #{pno}
	</update>
	
	
</mapper>