<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ManageMapper">


  <select id="selectAllUser" resultType="vo.User">
	select u.* 
	from tbl_user u
	where 1
	<if test="type != null">
	    <trim prefix="and (" suffix=")" prefixOverrides="or">
	    	<foreach collection="typeArr" item="t">
	    		<if test='T == "i"'>
		    		or id like concat('%', #{keyword},'%')
	    		</if>
	    	</foreach>
	    </trim> 
    </if>
    order by create_date desc
    limit #{amount} offset #{offset}
  </select>
  
  
  
  <select id="getCount" resultType="int">
    select count(*) as cnt from tbl_user
  </select>
  
  
  
  
  
  
  
  <select id="selectAllUserDetail" resultType="vo.UserDetail">
	select * from tbl_user_detail where id = #{id}
  </select>
  
  <select id="selectAllTaboo" resultType="vo.Taboo">
	select * from tbl_taboo
  </select>
  <select id="selectAllMenu" resultType="vo.Category">
	select * from tbl_category where main_category = 'menu' and sub_category = 'sub'
  </select>
  
  
  <insert id="insert" >
	  INSERT  INTO tbl_category (cname, main_category, sub_category, sort, isuse) values (#{cname},'menu','sub',0,'n')
	  <selectKey order="AFTER" keyProperty="cno" resultType="int">
		select max(cno) from tbl_category
	  </selectKey>
  </insert>
  <update id="update">
	  update tbl_category set 
	  	sort = #{sort},
	  	isuse = #{isUse},
	  	parent_cno = #{parentCno}
	  	where cno = #{cno}
  </update>
  <delete id="delete">
  	delete from tbl_category where cno = #{cno} 
  </delete>
  
  
  <insert id="insertTaboo" >
	  INSERT  INTO tbl_taboo (key_word, user_id, isuse) values (#{keyWord},'test@naver.com', 1)
  </insert>
  <update id="updateTaboo">
		update tbl_taboo set 
	  	isuse = #{isUse},
	  	update_date = now()
	  	where key_word = #{keyWord}
  </update>
  <delete id="deleteTaboo">
  	delete from tbl_taboo where key_word = #{keyWord} 
  </delete>
  
  
  <select id="selectAllAnnPost" resultType="vo.Post">
	select * from tbl_post
  </select>
</mapper>