<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ManageMapper">
  <select id="selectAllUser" resultType="vo.User">
	select * from tbl_user
  </select>
  <select id="selectAllTaboo" resultType="vo.Taboo">
	select * from tbl_taboo
  </select>
  <select id="selectAllMenu" resultType="vo.Category">
	select * from tbl_category where main_category = 'menu' and sub_category = 'sub'
  </select>
  <insert id="insert">
	  INSERT  INTO tbl_category (cname, main_category, sub_category, sort, isuse) values (#{cname},'menu','sub',0,'n')
  </insert>
</mapper>