<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
  <select id="selectOne" resultType="vo.User">
    select * from tbl_user where id = #{id} 
  </select>
  
  <select id="findByNickName" resultType="vo.User">
  SELECT  *
	FROM tbl_user tue 
	WHERE nick_name = #{nickName} 
  </select>
  
  <insert id="insert">
  INSERT  INTO tbl_user (id,pw,nick_name)
  values (#{id},#{pw},#{nickName})
  </insert>
  
  <insert id="insertDetail">
  INSERT  INTO tbl_user_detail (id)
  values (#{id})
  </insert>
  
  <insert id="insertUserLog">
  INSERT  INTO tbl_user_log (user_id)
  values (#{userId})
  </insert>
  
  <update id="update">
	update tbl_user set pw = #{pw} where id = #{id}
	</update>
	
	 <update id="updateDetail">
	  	update tbl_user_detail SET
	  	name = #{name},
	  	gender = #{gender},
	  	addr = #{addr},
	  	detail_addr = #{detailAddr},
	  	self_intro=#{selfIntro},
	  	update_date = now()
	  	where id = #{id}
	</update>
	
  	
  	<update id="updateUser">
	   	update tbl_user SET
	    nick_name = #{nickName}
	    where id = #{id}
	</update>
	
	
	
</mapper>